<div class="text-center hero my-5">
    <img  width="400" height="300" src="../../assets/images/crypto.webp" alt="Angular logo" />
    <h1 class="mb-4 " style="color: white">Basel Coin Trading</h1>

    <p class="lead text-6xl text-amber-50"  style="color: white; font-size: 30px">
      Entdecke die Zukunft des Investierens – mit unserer Handelsplattform für Kryptoanlagen!

      Die Welt der Kryptowährungen bietet unendliche Möglichkeiten – und wir sind dein Schlüssel dazu. Ob Bitcoin, Ethereum oder innovative Altcoins: Mit unserer benutzerfreundlichen Handelsplattform hast du die Tools an der Hand, um smart zu investieren und von der dynamischen Welt der digitalen Assets zu profitieren.

    </p>
  </div>

